/**
 * This file is part of BizzCode Website Project.
 *
 * BizzCode Website Project is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or any later version.
 *
 * BizzCode Website Project is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with BizzCode Website Project. If not, see <https://www.gnu.org/licenses/>.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

.background-radial-gradient {
  background-color: transparent;
  background-image: radial-gradient(350px circle at 100% 300px, hsla(239, 84%, 67%, 0.8) 15%, hsla(239, 84%, 67%, 0.7) 35%, hsla(239, 84%, 67%, 0.65) 50%, hsla(239, 84%, 67%, 0.5) 80%, transparent 100%),
    radial-gradient(500px circle at 0% 40%, hsla(239, 84%, 67%, 0.8) 15%, hsla(239, 84%, 67%, 0.7) 35%, hsla(239, 84%, 67%, 0.65) 50%, hsla(239, 84%, 67%, 0.5) 80%, transparent 100%),
    radial-gradient(500px circle at 100% 80%, hsla(239, 84%, 67%, 0.8) 15%, hsla(239, 84%, 67%, 0.7) 35%, hsla(239, 84%, 67%, 0.65) 50%, hsla(239, 84%, 67%, 0.5) 80%, transparent 100%);

  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.container-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.container-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#post {
  @apply space-y-4;
}

#post h1 {
  @apply text-3xl 2xl:text-4xl text-white font-bold;
}
#post h2 {
  @apply text-2xl 2xl:text-3xl text-white font-bold;
}
#post h3 {
  @apply text-xl 2xl:text-2xl text-white font-bold;
}
#post h4 {
  @apply text-lg 2xl:text-xl text-white font-bold;
}
#post h5 {
  @apply text-base 2xl:text-lg text-white font-bold;
}
#post h6 {
  @apply text-sm 2xl:text-base text-white font-bold;
}

#post a {
  @apply text-indigo-500 underline underline-offset-2;
}

#post ul {
  @apply max-w-md space-y-1 list-disc list-inside text-gray-300;
}

#post ol {
  @apply ps-5 mt-2 space-y-1 list-decimal list-inside text-gray-300;
}

#post hr {
  @apply border-slate-400;
}

#post table {
  @apply w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 rounded-lg overflow-hidden;
}

#post tr {
  @apply border-b bg-gray-800 border-gray-700 hover:bg-gray-600;
}

#post td {
  @apply px-6 py-3;
}

#post pre {
  /**@apply bg-slate-500/50 backdrop-blur-sm text-gray-100 p-4 rounded-lg relative overflow-auto container-scroll text-sm xl:text-base;*/
}

#deskripsi-bima p {
  @apply leading-relaxed 2xl:leading-loose text-base 2xl:text-[20px] text-gray-300;
}
